name: Generate blocklists
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build blocklists
        run: curl -fLs https://github.com/filterpaper/blocklists/raw/main/build_blocklist.py | python3 > unbound.txt

      - name: Archive blocklists
        uses: actions/upload-artifact@main
        with:
          retention-days: 1
          name: unbound
          path: unbound.txt

  upload:
    needs: build
    uses: filterpaper/scripts/.github/workflows/commit-artifact.yml@main
    with:
      artifact_folder: .

  purge:
    needs: build
    uses: filterpaper/scripts/.github/workflows/purge-workflow.yml@main
    with:
      purge-age: 1
      delete-all-completed: false
      delete-all-incomplete: false
